.modal-shadow{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0, 0.8);
    height: 100vh;
    width: 100vw;

}

.modal{
    width: 95%;
    max-width: 470px;
    height: fit-content;

    background-color: var(--color-primary-10);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    border-radius: 8px;

    animation: show-modal 0.5s normal;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    border-bottom: 1px solid var(--color-primary-50);

    padding: 8px;
}

.modal-header > h2 {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-50);
}

.modal-header > button {
    font-size: var(--font-size-26);
    font-weight: var(--font-weight-semi);
    color: var(--color-gray-50);

    background-color: transparent;

    cursor: pointer;

    width: 26px;
    height: fit-content;

}

.modal > p {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    color: var(--color-gray-0);
    line-height: 26px;

    padding: 0 8px;

    height: 70%;
    overflow-y: auto;
}

.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: fit-content;

    border-top: 1px solid var(--color-primary-50);

    padding: 16px 8px;
}

.modal-footer > a {
    background-color: var(--color-primary-100);
    color: var(--color-gray-0);

    font-size: var(--font-size-14);
    font-weight: var(--font-weight-semi);

    padding: 4px 8px;
    border-radius: 8px;

}

.modal-footer > a:hover{
    background-color: var(--color-primary-50);
    color: var(--color-gray-20);
}

.disabled{
    cursor:not-allowed;
    filter: brightness(0%);
}


.hidden{
    overflow: hidden;
}

@keyframes show-modal {
    0% { 
        transform:scale(0);
    }
    10% { 
        transform:scale(0.1);
    }
    20%{
        transform:scale(0.2);
    }
    30%{
        transform:scale(0.3);;
    }
    40%{
        transform:scale(0.4);;
    }
    50%{
        transform:scale(0.5);
    }
    60%{
        transform:scale(0.6);
    }
    70%{
        transform:scale(0.7);
    }
    80%{
        transform:scale(0.8);
    }
    90%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    } 
}